body {

  background: #fff5c4;
  font-family: 'Poppins', san-serif;
  font-size: 16px;
  color: #2f1a00;
  align-items: center;;
}

header {

  max-width: 500px;
}

main {width: 100%;}

h1 {

  font-family: 'Fredoka', san-serif;
  color: #d66a1e;
  text-align: center;
  font-size: 50px;
    line-height: 50px;
}



/* Additional styling for the game elements */
#game-container {
  max-width: 800px;
  margin: 30px auto;
  border-radius: 8px;
  margin-bottom: 200px;
}

#room-media {
  max-width: 750px;
  height: 430px;
  overflow: hidden;
  border-radius: 50px;
  margin-bottom: 20px;
  border: 10px solid #fecf23;
  background-color: black;
  position: relative; /* Add this */
}

#room-media img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  max-width: none;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#room-media video {
  max-width: 100%;
  height: auto;
}

.fade-out {
  opacity: 0 !important;
}

.fade-in {
  opacity: 1 !important;
}

#narrator {
  font-size: 1.4rem;
  margin-bottom: 0;
  padding: 15px;
  border-radius: 5px;
  height: fit-content;
  min-height: 130px;
}

#direction {

  min-height: 201px;
}

.direction-container {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Makes the 4th options have margin right auto to 
push it to the left if one of them is on the row by itself */
.direction-container:nth-child(n + 3) {
  margin-right: auto;
}


/* Makes the 2nd options have margin right auto to 
push it to the left if one of them is on the row by itself */
.direction-container:nth-child(n + 1) {
  margin-right: auto;
}


.direction-button {
  min-width: 120px;
  font-size: 1.1rem;
  background-color: #ffebaf;
  border-radius: 50px;
  width: 100%;
  padding: 20px;
  border: solid 2px #ffebaf;
  transition: background-color .5s ease-in-out;
  transition: border .8s ease-in-out;
  
}

.direction-button:hover {
  border: solid 2px #d66a1e;
  
}





@media only screen and (max-width: 450px) {
  #room-media {
    height: 350px;
  }
  #room-media img {
    height: 100%;
    max-width: unset;
  }
}
